body{
background: black;
    color: lawngreen;
}
#title{
    margin-bottom: 5px;
    margin-top: 0;
}
#main{
    margin: 0 auto;
    padding:15px;
}
#image{
    width:100%;
}
 p{
    font-size: 18px;
     margin-bottom: 20px;
     margin-top: 0;
 }

 .head{
     text-align: center;
 }

 #img-caption{
     float: right;
 }
h2{
    text-align: center;
    padding-top: 20px;
    color: lawngreen;
}

ul{
    max-width:1000px;
    margin:0 auto;
    text-align:left;

}
li{
    margin: 20px;
    font-size: 18px;
    color: white;
    text-align: justify;
}

a{
    text-decoration: none;
}
